server:
  port: 8080

spring:
  application:
    name: delivery-checker

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: never
